__pycache__

/dataset/
/log/
meta*
models
results
/notebooks/
/visualize_result/
/*env/
/.venv/
/.venv-finetune/
/src/outputs/
/src/multirun/
/src/sample*.py
/src/ex_script/
/original/

/fairseq/

.env.mlflow*

*out
*csv
*png
*log